.benifit-section {
    background:url("../img/bg/bg-benefit.png") no-repeat top left -80px, url("../img/bg/bg-benefit-bottom.png") no-repeat bottom right -50px, #7EA0AD;
    padding-top: 30px;
    padding-bottom: 56px;
}
@media(min-width:900px){
    .benifit-section{
        background:url('../img/bg/bg-benefit.png')  no-repeat top left, url('../img/bg/bg-benefit-bottom.png')  no-repeat bottom right, #7EA0AD ;
        margin-top: 90px;
    }
}
.benefit__title {
    font-weight: 500;
    font-size: 15px;
    color: #fff; 
    margin-left: 25%;  
}
@media(min-width:600px){
    .benefit__title{
        margin-left: 36%;
    }    
}
.wrapper-benifit {   
    margin-bottom: 55px;
    margin-right: 0px;
    
    &:last-child{
        margin-right: 0;
    }

    .border-benifit {
        border: 2px solid ;
        border-image: linear-gradient(130deg, rgba(244, 185, 85, .46), #91b7c6);
        border-image-slice: 1;
    }
}
@media(min-width:1024px){
    .wrapper-benifit {
        &:nth-child(3){
            margin-right: 0;
        }
        &:nth-child(5){
            margin-right: 0;
        }
    }
}
@media(min-width:520px){
    // .benefit__title {
    //     margin: auto;
    //     text-align: center;
    //     font-weight: 600;
    //     font-size: 20px;
    // }
    .wrapper-benifit {
        margin-right: 0px;

        &:nth-child(odd){
            margin-right: 80px;
        }
    }
}
@media(min-width:600px){
    .wrapper-benifit {
        margin-right: 0;
        &:nth-child(odd){
            margin-right: 10px;
        }
    }
}

@media(min-width:900px){
    .wrapper-benifit {
        margin-right: 10px;
        &:nth-child(odd){
            margin-right: 10px;
        }
        &:nth-child(3){
            margin-right: 0;
        }
    }
}
@media(min-width:1366px){
    .benefit__title {
        margin: auto;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        
    }
    .wrapper-benifit {
        margin-right: 80px;
        &:nth-child(odd){
            margin-right: 80px;
        }
        &:nth-child(3){
            margin-right: 0;
        }
    }
}

.benefit__block {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.benifit__item {
    position: relative;
    border: 3px solid transparent;
    border-image-slice: 1;
    width: 280px;
    height: 150px;
    padding-left: 15px;
    padding-right: 18px; 
    padding-bottom: 23px;
}


.benefit__circle {
    position: relative;
    width: 68px;
    height: 68px;
    border: 3px solid #B4AC85;
    background-color: #7EA0AD;
    border-radius: 50%;
    margin-top: -35px;
    margin-left: 50px;
    transform: translateX(50%);

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.benefit__description {
    margin-top: 10px;
    color: #fff;
    text-align: left;  
    line-height: 1.4;
    font-size: 14px;

    span {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.btn{
    position: relative;
    display: inline-block;
    border: 3px solid #F4B955;  
    border-radius: 8px;
    margin-left: 8%;
    padding: 13px 30px 13px 70px;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease-in;

    &::after {
        position: absolute;
        top: 15px;
        left: 30px;
        content: '';
        width: 23px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9998 0L15.7356 20.9944L11.0398 10.9982L22.9998 0Z' fill='white'/%3E%3Cpath d='M0.32118 7.72501L10.6025 11.3311L15.0452 20.7191C15.1248 20.8866 15.3058 20.9944 15.5044 20.9944C15.5129 20.9944 15.5209 20.9944 15.5294 20.9939C15.7379 20.9843 15.9175 20.8579 15.981 20.6766L22.9829 0.589528C22.9904 0.568527 22.9889 0.547071 22.9929 0.526071C22.9969 0.505071 23.0019 0.484983 23.0024 0.46307C23.0039 0.418331 22.9964 0.375418 22.9839 0.332961C22.9809 0.323374 22.9834 0.31333 22.9799 0.303743C22.9794 0.301917 22.9774 0.300547 22.9769 0.298721C22.9564 0.246221 22.9254 0.197829 22.8854 0.154916C22.8724 0.140764 22.8554 0.131633 22.8409 0.119307C22.8169 0.0992201 22.7959 0.0768504 22.7669 0.060872C22.7599 0.0572198 22.7519 0.0563068 22.7449 0.0531111C22.7239 0.042611 22.7019 0.0371327 22.6793 0.0293718C22.6443 0.0175022 22.6098 0.00745862 22.5733 0.00289338C22.5503 0.00015423 22.5278 -0.000302294 22.5038 0.00015423C22.4638 0.000610755 22.4253 0.005176 22.3863 0.0143065C22.3728 0.0175022 22.3593 0.014763 22.3458 0.0188717L0.339685 6.86674C0.13963 6.92837 0.00409226 7.09774 9.11546e-05 7.28994C-0.00390995 7.48214 0.124125 7.65607 0.32118 7.72501ZM15.4328 19.2363L11.5718 11.0773L21.406 2.10017L15.4328 19.2363ZM20.6318 1.51627L10.8546 10.4409L1.96813 7.32418L20.6318 1.51627Z' fill='%23E5F4FA'/%3E%3Cpath d='M0.500262 20.9969C0.628297 20.9969 0.756332 20.9521 0.853859 20.8631L7.85578 14.4718C8.05133 14.2933 8.05133 14.0048 7.85578 13.8263C7.66022 13.6478 7.34414 13.6478 7.14858 13.8263L0.146665 20.2176C-0.0488884 20.3961 -0.0488884 20.6846 0.146665 20.8631C0.244192 20.9521 0.372227 20.9969 0.500262 20.9969Z' fill='%23F5BA54'/%3E%3Cpath d='M9.14907 17.0221L5.64813 20.2177C5.45258 20.3962 5.45258 20.6847 5.64813 20.8632C5.74566 20.9522 5.87369 20.9969 6.00172 20.9969C6.12976 20.9969 6.25779 20.9522 6.35532 20.8632L9.85627 17.6676C10.0518 17.4891 10.0518 17.2006 9.85627 17.0221C9.66071 16.8436 9.34463 16.8436 9.14907 17.0221Z' fill='%23F5BA54'/%3E%3Cpath d='M0.50026 15.9752C0.628295 15.9752 0.756329 15.9304 0.853855 15.8414L4.3548 12.6457C4.55035 12.4672 4.55035 12.1787 4.3548 12.0002C4.15925 11.8217 3.84316 11.8217 3.64761 12.0002L0.146665 15.1959C-0.0488882 15.3744 -0.0488882 15.6629 0.146665 15.8414C0.244191 15.9304 0.372225 15.9752 0.50026 15.9752Z' fill='%23F4B955'/%3E%3C/svg%3E%0A");

    }

    &:hover {
        cursor: pointer;
        background-color: #F4B955;
        border: 3px solid #fff;
    }
    &--bgc {
        background: #F4B955;
        border: none;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .5);
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 0;
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9998 0L15.7356 20.9944L11.0398 10.9982L22.9998 0Z' fill='white'/%3E%3Cpath d='M0.32118 7.72501L10.6025 11.3311L15.0452 20.7191C15.1248 20.8866 15.3058 20.9944 15.5044 20.9944C15.5129 20.9944 15.5209 20.9944 15.5294 20.9939C15.7379 20.9843 15.9175 20.8579 15.981 20.6766L22.9829 0.589528C22.9904 0.568527 22.9889 0.547071 22.9929 0.526071C22.9969 0.505071 23.0019 0.484983 23.0024 0.46307C23.0039 0.418331 22.9964 0.375418 22.9839 0.332961C22.9809 0.323374 22.9834 0.31333 22.9799 0.303743C22.9794 0.301917 22.9774 0.300547 22.9769 0.298721C22.9564 0.246221 22.9254 0.197829 22.8854 0.154916C22.8724 0.140764 22.8554 0.131633 22.8409 0.119307C22.8169 0.0992201 22.7959 0.0768504 22.7669 0.060872C22.7599 0.0572198 22.7519 0.0563068 22.7449 0.0531111C22.7239 0.042611 22.7019 0.0371327 22.6793 0.0293718C22.6443 0.0175022 22.6098 0.00745862 22.5733 0.00289338C22.5503 0.00015423 22.5278 -0.000302294 22.5038 0.00015423C22.4638 0.000610755 22.4253 0.005176 22.3863 0.0143065C22.3728 0.0175022 22.3593 0.014763 22.3458 0.0188717L0.339685 6.86674C0.13963 6.92837 0.00409226 7.09774 9.11546e-05 7.28994C-0.00390995 7.48214 0.124125 7.65607 0.32118 7.72501ZM15.4328 19.2363L11.5718 11.0773L21.406 2.10017L15.4328 19.2363ZM20.6318 1.51627L10.8546 10.4409L1.96813 7.32418L20.6318 1.51627Z' fill='%237EA0AD'/%3E%3Cpath d='M0.500262 20.9969C0.628297 20.9969 0.756332 20.9521 0.853859 20.8631L7.85578 14.4718C8.05133 14.2933 8.05133 14.0048 7.85578 13.8263C7.66022 13.6478 7.34414 13.6478 7.14858 13.8263L0.146665 20.2176C-0.0488884 20.3961 -0.0488884 20.6846 0.146665 20.8631C0.244192 20.9521 0.372227 20.9969 0.500262 20.9969Z' fill='%237EA0AD'/%3E%3Cpath d='M9.14907 17.0221L5.64813 20.2177C5.45258 20.3962 5.45258 20.6847 5.64813 20.8632C5.74566 20.9522 5.87369 20.9969 6.00172 20.9969C6.12976 20.9969 6.25779 20.9522 6.35532 20.8632L9.85627 17.6676C10.0518 17.4891 10.0518 17.2006 9.85627 17.0221C9.66071 16.8436 9.34463 16.8436 9.14907 17.0221Z' fill='%237EA0AD'/%3E%3Cpath d='M0.50026 15.9752C0.628295 15.9752 0.756329 15.9304 0.853855 15.8414L4.3548 12.6457C4.55035 12.4672 4.55035 12.1787 4.3548 12.0002C4.15925 11.8217 3.84316 11.8217 3.64761 12.0002L0.146665 15.1959C-0.0488882 15.3744 -0.0488882 15.6629 0.146665 15.8414C0.244191 15.9304 0.372225 15.9752 0.50026 15.9752Z' fill='%237EA0AD'/%3E%3C/svg%3E%0A");
        }
        &:hover {
            border: none;
        }
    }
}
@media(min-width:350px){
    .btn{           
        margin-left: 10%;
    }
    .btn--bgc {
        margin-left: 0%;
    }
}
@media(min-width:360px){
    .btn{           
        margin-left: 11%;
    }
    .btn--bgc {
        margin-left: 0%;
    }
}
@media(min-width:380px){
    .btn{           
        margin-left: 14%;
    }
    .btn--bgc {
        margin-left: 0%;
    }
}
@media(min-width:390px){
    .btn{           
        margin-left: 15%;
    }
    .btn--bgc {
        margin-left: 0%;
    }
}
@media(min-width:400px){
    .btn{           
        margin-left: 16%;
    }
    .btn--bgc {
        margin-left: 0%;
    }
}
@media(min-width:520px){
    .btn{
        margin-left: 25%;
    }
    .btn--bgc {
        margin-top: 60px;
        margin-bottom: 50px;

    }
}
@media(min-width:520px){
    .btn{
        margin-left: 38%;
    }
    .btn--bgc {
        margin-left: 5%;
        margin-top: 60px;
        margin-bottom: 50px;

    }
}

@media(min-width:600px){
    .btn{
        margin-left: 28%;
    }
    .btn--bgc {
        margin-left: 5%;
        margin-top: 60px;
        margin-bottom: 50px;

    }
}
@media(min-width:768px){
    .btn{
        margin-left: 33%;
    }
    .btn--bgc {
        margin-left: 5%;
        margin-top: 60px;
        margin-bottom: 50px;

    }
}
@media(min-width:900px){
    .btn{
        margin-left: 35%;
    }
    .btn--bgc {
        margin-left: 0%;
    }
}
@media(min-width:1024px){
    .btn{
        margin-left: 36%;
    }
    .btn--bgc {
        margin-left: 0%;
        margin-top: 60px;
        margin-bottom: 50px;

    }
}
@media(min-width:1366px){
    .btn{
        margin-left: 37%;
    }
    .btn--bgc {
        margin-left: 0%;
        margin-top: 60px;
        margin-bottom: 50px;

    }
}
@media(min-width:1920px){
    .btn{
        margin-left: 38%;
    }
    .btn--bgc {
        margin-left: 0%;
        margin-top: 60px;
        margin-bottom: 50px;

    }
}