.section-footer {
    background-color: #7EA0AD;
    //height: 370px;
    padding: 30px 0;
    color: #fff;
}
.footer-wrapper {
    //margin: 30px 0;
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(126,160,173,0.62) 13%, rgba(173,194,202,1) 100%);
    border-image-slice: 1;
    display: flex;
    padding: 15px 50px;
    border-radius: 5px;
}
.footer-contact {
    padding: 45px;
    border: 2px solid #adc2ca;
    border-radius: 5px;
    background-image: url('../img/bg-contact.png');    
    background-repeat: no-repeat;
    background-position: right 35px bottom 25px;
}
.footer-contact__item {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;

    &:last-child {
        margin-bottom: 0;
    }

    &--address {
        font-size: 13px;
    }
    &--city {
        color: rgba(255, 255, 255, .5);
    }
}
.footer-navigation {
    list-style-type: none;    
    font-size: 14px;
    font-style: normal;
    font-weight: normal;

    li {
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #fff;
        }
    }
}