.section-footer {
    background-color: #7EA0AD;
    //height: 370px;
    padding-top: 30px;
    padding-bottom: 11px;
    color: #fff;

}
@media(min-width:1024px){
    .section-footer {
        padding-top: 30px;
        background: url(../img/bg/bg-footer-left.png) no-repeat left -15px center, url(../img/bg/bg-footer-right.png) no-repeat right -15px center, #7EA0AD;
    }
}
@media(min-width:1920px){
    .section-footer {
        padding-top: 30px;
        background: url(../img/bg/bg-footer-left.png) no-repeat left 90px center, url(../img/bg/bg-footer-right.png) no-repeat right 90px center, #7EA0AD;
    }
}
.footer-wrapper {
    //margin: 30px 0;
    padding-left: 15px;
    padding-right: 5px;
    max-width: 700px;
    height: 110px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(126,160,173,0.62) 13%, rgba(173,194,202,1) 100%);
    border-image-slice: 1;
    display: flex;
    
    border-radius: 5px;
    justify-content: space-between;
}
@media(min-width:768px){
    .footer-wrapper{
        width: 420px;
        margin: auto;
        padding-right: 35px;
    }
}

@media(min-width:1024px){
    .footer-wrapper {
        width: 700px;
        height: 300px;
        padding: 15px 50px;
    }
}
.footer-contact {
    display: block;
        padding: 18px;
        border: 2px solid #adc2ca;
        border-radius: 5px;
          
        background-repeat: no-repeat;
        background-position: right 0px bottom 25px;
        margin-bottom: 8px;
        margin-left: 10px;
        margin-right: 10px;
        &--msc {
            background-image: url('../img/bg-contact.png');  
        }
        &--spb {
            background-image: url('../img/bg-spb.png');  
        }
    &--desctop {
        display: none;        
    }
}
@media(min-width:520px){
    .footer-contact {        
        background-position: right 0px bottom 5px;
    }
}
@media(min-width:768px){
    .footer-contact {        
        width: 420px;
        margin: auto;
        margin-bottom: 20px;        
    }
}
@media(min-width:1024px) {
    .footer-contact {
        display: none;
        &--desctop{
            display: block;
            padding: 30px;
            border: 2px solid #adc2ca;
            border-radius: 5px;
            background-image: url('../img/bg-contact.png');    
            background-repeat: no-repeat;
            background-position: right 35px bottom 25px;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.footer-contact__item {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;

    &:last-child {
        margin-bottom: 0;
    }

    &--address {
        font-size: 13px;
    }
    &--city {
        color: rgba(255, 255, 255, .5);
    }
}
.footer-navigation {
    display: none;

    &--mobile {
        padding-left: 0;
        display: block;
        list-style-type: none;    
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        a {
            color: #fff;
        }
        li {
            margin-bottom: 10px;
        }
        color: #fff;
    }
}
@media(min-width:1024px) {
.footer-navigation {
    display: block;
    list-style-type: none;    
    font-size: 14px;
    font-style: normal;
    font-weight: normal;

    &--mobile {display: none;}

    li {
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #fff;
        }
    }
}
}
.copy {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
}
@media(min-width:520px){
    .copy{
        display: none;
    }
}