.section-glass {
    margin-top: 30px;
    text-align: center;
}
.type-glass {
    position: relative;
    display: flex;
    justify-content: center;    
    margin-top: 30px;
    margin-bottom: 60px;

    &:after {
        position: absolute;
        top: 22px;
        left: 125px;
        content: '';
        width: 823px;
        height: 71px;
        background-color: #7EA0AD;
        z-index: -1;
    }
}
.section-glass__title {
    font-weight: 500;
    font-size: 22px;
    color: #7EA0AD;
}
.type-glass-block {    
    margin-right: 30px;

    &:last-child{
        margin-right: 0;
    }   
}
.type-glass-block__img {
    position: relative;
    margin-bottom: 15px;
}
.type-glass__description {
    position: absolute;
    top: -20px;
    left: 0;
    transform: translateY(-108%);
     width: 765px;
    // height: 150px;
    background-size: 50px;
    display: none;  
    background-color: #fff;
    border: 4px solid #E5E5E5;
    border-radius: 10px;
    padding: 20px 16px;
    z-index: 1;

    color: #7EA0AD;
    text-align: left;
    font-weight: 500;
    font-size: 14px;

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        bottom: -64px;
        border: 29px solid transparent;
        border-top: 35px solid #D4E2E8;
        border-radius: 2px;
    }

    &--faq-right {
        left: -800px;
    }

    &--last {
        //width: 50px;  
        left: -670px;

        &:after {
            left: 675px;
            bottom: -64px;
            border: 29px solid transparent;
            border-top: 35px solid #D4E2E8;
            border-radius: 2px;
        }
    }
}

.type-glass-block__img:hover .type-glass__description{
    display: block;
}
.type-glass-block__title {
    color: #7EA0AD;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.glass__item {
    &:hover {
        cursor: pointer;
    }    
}

.comparison-glass {
    position: relative;

    &:before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 125px;
        left: 0;
        width: 100%;
        height: 275px;
        background-color: #7EA0AD;
    }
    
}
.comparison-glass-type {
    display: flex;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
}
.glass-type__color {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    
}
.glass-type__visual {
    position: relative;
    margin: 0 90px;


    &:after {
        position: absolute;
        top: 20px;
        left: -60px;
        content: '';
        width: 365px;
        height: 365px;
        background-color: rgba(151, 213, 200, .15);
        border: 3px solid rgba(151, 213, 200, .7);
        border-radius: 3px;
    }
    &:before {
        position: absolute;
        top: 20px;
        right: -60px;
        content: '';
        width: 365px;
        height: 365px;
        background-color: rgba(152, 214, 236, 0.04);
        border: 3px solid rgba(152, 214, 236, 0.7);
        border-radius: 3px;
    }
}
.glass-qualities {
    display: flex;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
.qualities-left {
    text-align: right;
    margin-right: 55px;
}
.qualities-right {
    text-align-last: left;
    margin-left: 55px;
}
.glass-qualities-block {
    position: relative;
    margin-bottom: 20px; 
    
    &::after {
        position: absolute;
        content: '';
        top: 15%;
        border-radius: 50%;
        background-color: #F4B955;
        width: 14px;
        height: 14px;
    }

    &--left {
        &::after {
            right: -25px;
        }       
    }

    &--right {
        &::after {
            left: -25px;
        }       
    }
    
}
.qualities-block__title {
    font-weight: 500;
    font-size: 17px;
    color: #7EA0AD;
    
}