.section-glass {
    margin-top: 30px;
    text-align: center;
    background: url("../img/bg/bg-glass.png") no-repeat top right;
}
.type-glass {
    position: relative;
    display: flex;     
    flex-wrap: wrap;   
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 40px;

    // &:after {
    //     position: absolute;
    //     top: 22px;
    //     left: 125px;
    //     content: '';
    //     width: 823px;
    //     height: 71px;
    //     background-color: #7EA0AD;
    //     z-index: -1;
    // }
}
@media (min-width:1024px) {
    .type-glass {
        margin-left: 0;
        justify-content: center;
    }
}
.section-glass__title {
    font-weight: 500;
    font-size: 22px;
    color: #7EA0AD;
    text-align: center;
}
.type-glass-block { 
    position: relative;   
    margin-right: 30px;
    margin-bottom: 25px;
    &:after {
        position: absolute;
        top: 22px;
        left: -21px;
        content: '';
        width: 156px;
        height: 71px;
        background-color: #7EA0AD;
        z-index: -1;
    }

    &:last-child{
        margin-right: 0;
    }   
}
@media (min-width:1024px) {
    .type-glass-block {
        margin-bottom: 0;
        position: relative;

       
    }
}
.type-glass-block__img {
    position: relative;
    margin-bottom: 15px;

   
}
.test-mod {
    display: none;
    position: absolute;
    width: 765px;
    top: -20px;
    left: 0;
    transform: translateX(-19%);
    
    
    &--last {
        //width: 50px;  
       // left: -150px;

        &:after {
            left: 0px;
            bottom: -64px;
            border: 29px solid transparent;
            border-top: 35px solid #D4E2E8;
            border-radius: 2px;
        }
    }
}
.type-glass__description {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-108%);
     width: 320px;
    // height: 150px;
    background-size: 50px;
    display: none;  
    background-color: #fff;
    border: 4px solid #E5E5E5;
    border-radius: 10px;
    padding: 20px 16px;
    z-index: 2;

    color: #7EA0AD;
    text-align: left;
    font-weight: 500;
    font-size: 14px;

    // &:before {
    //     position: absolute;
    //     content: '';
    //     width: 543px;
    //     height: 170px;
    //     background-color: #fff;
    //     z-index: 1;

    // }

    &:after {
        content: '';
        position: absolute;
        left: 166px;
        bottom: -25px;
        // border: 29px solid transparent;
        // border-top: 35px solid #D4E2E8;
        // border-radius: 2px;
        background-image: url('../img/before.png');
        background-size: cover;
        width: 35px; 
        height: 24px;
    }

    &--faq-right {
        left: -800px;
    }

    &--last {
        //width: 50px;  
        left: 0;

        &:after {
            left: 0px;
            bottom: -64px;
            border: 29px solid transparent;
            border-top: 35px solid #D4E2E8;
            border-radius: 2px;
        }
    }
    &--ml {
        left: -156px;
        &:after {
            left: 172px;
        }
    }
}
.test-bg{
    display: none;
}

@media(min-width:520px){
    .test-bg{
        display: block;
        position: absolute;
        background-color: #B8E3F2;
        width: 543px;
        height: 170px;
        top: -177px;
        right: -58px;
        opacity: .7;
    
        &--last {        
            height: 150px;
            top: -148px;
            right: -40px;;
        }
        &--big {
            height: 192px;
            top: -199px;
        }
    }
}
@media (min-width:1024px) {
    .type-glass__description {
        width: 765px;
        &--last {
            left: -670px;
            &:after {
                left: 675px;
            }
        }
        &--ml {
            display: none;
        }
    }
}

.type-glass-block__img:hover .test-mod{
    display: block;
}
.type-glass-block__img:hover .type-glass__description{
    display: block;
}
.services-faq-block:hover .test-mod{
    display: block;
}
.type-glass-block__title {
    color: #7EA0AD;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.glass__item {
    &:hover {
        cursor: pointer;
    }    
}
.comparison-glass {
    display: none;
}


.conpression-glass-mobile {
    // width: 100%;
    // // width: 100%;
    // // height: 250px;
    // // background-image: url("../img/visual-glass.png");
    // // background-size: cover;
}
.comparison-glass-mobile-type {

}
.comparison-glass-mobile-type__color {

}
.comparison-glass-mobile-type__visual {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../img/visual-glass.png");
    background-size: cover;
    margin-top: 10px;

    &:after {
        position: absolute;
        top: -10px;
        left: 10px;
        content: '';
        width: 165px;
        height: 270px;
        background-color: rgba(151, 213, 200, .15);
        border: 3px solid rgba(151, 213, 200, .7);
        border-radius: 3px;
    }
    &:before {
        position: absolute;
        top: -10px;
        right: 10px;
        content: '';
        width: 165px;
        height: 270px;
        background-color: rgba(152, 214, 236, 0.04);
        border: 3px solid rgba(152, 214, 236, 0.7);
        border-radius: 3px;
    }
}

@media(min-width:1024px){
    .comparison-glass {
        display: block;
        position: relative;
    
        &:before {
            position: absolute;
            z-index: -1;
            content: "";
            top: 125px;
            left: 0;
            width: 100%;
            height: 275px;
            background-color: #7EA0AD;
        }
        
    }
    .comparison-glass-type {
        display: flex;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 1240px;
    }
    .glass-type__color {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 17px;
        color: #fff;
        
    }
    .glass-type__visual {
        position: relative;
        margin: 0 90px;
    
    
        &:after {
            position: absolute;
            top: 20px;
            left: -60px;
            content: '';
            width: 365px;
            height: 365px;
            background-color: rgba(151, 213, 200, .15);
            border: 3px solid rgba(151, 213, 200, .7);
            border-radius: 3px;
        }
        &:before {
            position: absolute;
            top: 20px;
            right: -60px;
            content: '';
            width: 365px;
            height: 365px;
            background-color: rgba(152, 214, 236, 0.04);
            border: 3px solid rgba(152, 214, 236, 0.7);
            border-radius: 3px;
        }
    }
    .glass-qualities {
        display: flex;
        width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
    }
    .qualities-left {
        text-align: right;
        margin-right: 55px;
    }
    .qualities-right {
        text-align: left;
        margin-left: 55px;
    }
    .glass-qualities-block {
        position: relative;
        margin-bottom: 20px; 
        
        &::after {
            position: absolute;
            content: '';
            top: 15%;
            border-radius: 50%;
            background-color: #F4B955;
            width: 14px;
            height: 14px;
        }
    
        &--left {
            &::after {
                right: -25px;
            }       
        }
    
        &--right {
            &::after {
                left: -25px;
            }       
        }
        
    }
    .qualities-block__title {
        font-weight: 500;
        font-size: 17px;
        color: #7EA0AD;
        
    }

    .conpression-glass-mobile {
        display: none;
    }
}

