.section-glass {
    margin-top: 30px;
    text-align: center;
    background: url("../img/bg/bg-glass.png") no-repeat top right;
}
.type-glass {
    position: relative;
    display: flex;     
    flex-wrap: wrap;   
    margin-top: 30px;
    margin-bottom: 60px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:450px){
    .type-glass{
        justify-content: center;
    }
}
@media(min-width:660px){
    .type-glass {
        width: 615px;
    }
}
@media(min-width:900px){
    .type-glass {
        width: 590px;
    }
}
@media (min-width:1024px) {
    .type-glass {
        width: auto;
        margin-left: 0;
        justify-content: center;
    }
}
.section-glass__title {
    font-weight: 500;
    font-size: 18px;
    color: #7EA0AD;
    text-align: center;
    margin-bottom: 20px;
}
@media(min-width:520px){    
    .section-glass__title {
        font-size: 22px;
        margin-bottom: 0;
    }
}
.type-glass-block { 
    position: relative;   
    margin-right: 15px;
    margin-bottom: 25px;
    &:after {
        position: absolute;
        top: 22px;
        left: -21px;
        content: '';
        width: 168px;
        height: 71px;
        background-color: #7EA0AD;
        z-index: -1;
    }

    &:last-child{
        margin-right: 0;
    }   
}
@media(min-width:350px){
    .type-glass-block {    
        margin-right: 20px; 
    }
}

.type-glass-block-btn{
    position: relative;
    margin-top: 30px;
    border: 3px solid #F4B955;
    border-radius: 12px;
    padding: 15px 18px;

    font-weight: 500;
    font-size: 15px;
    color: #fff;

    &:after {
        position: absolute;
        top: -11px;
        left: -24px;
        content: '';
        width: 186px;
        height: 71px;
        background-color: #7EA0AD;
        z-index: -1;
    }
}
.type-glass-block-btn{
    position: relative;
    margin-top: 30px;
    border: 3px solid #F4B955;
    border-radius: 12px;
    padding: 15px 9px;

    font-weight: 500;
    font-size: 15px;
    color: #fff;

    &:after {
        position: absolute;
        top: -11px;
        left: -24px;
        content: '';
        width: 160px;
        height: 71px;
        background-color: #7EA0AD;
        z-index: -1;
    }
}
@media(min-width:350px){
    .type-glass-block-btn{
        padding: 15px 18px;
        &:after{
            width: 186px;
        }
    }
}
@media(min-width:520px){
    .type-glass-block-btn {
        &:after{            
            width: 182px;
        }
    }
}
@media (min-width:1024px) {
    .type-glass-block {
        
        margin-bottom: 0;
        position: relative;       
    }
    .type-glass-block-mobile{ display: none;}
}
.type-glass-block__img {
    position: relative;
    margin-bottom: 15px;   
}
.test-mod {
    display: none;
    position: absolute;
    width: 765px;
    top: -20px;
    left: 0;
    transform: translateX(-19%);
    
    
    &--last {
        //width: 50px;  
       // left: -150px;

        &:after {
            left: 0px;
            bottom: -64px;
            border: 29px solid transparent;
            border-top: 35px solid #D4E2E8;
            border-radius: 2px;
        }
    }
}
.type-glass__description {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-108%);
     width: 320px;
    // height: 150px;
    background-size: 50px;
    display: none;  
    background-color: #fff;
    border: 4px solid #E5E5E5;
    border-radius: 10px;
    padding: 20px 16px;
    z-index: 2;

    color: #7EA0AD;
    text-align: left;
    font-weight: 500;
    font-size: 14px;

    // &:before {
    //     position: absolute;
    //     content: '';
    //     width: 543px;
    //     height: 170px;
    //     background-color: #fff;
    //     z-index: 1;

    // }

    &:after {
        content: '';
        position: absolute;
        left: 166px;
        bottom: -25px;
        // border: 29px solid transparent;
        // border-top: 35px solid #D4E2E8;
        // border-radius: 2px;
        background-image: url('../img/before.png');
        background-size: cover;
        width: 35px; 
        height: 24px;
    }

    &--faq-right {
        left: -800px;
    }

    &--last {
        //width: 50px;  
        left: 0;

        &:after {
            left: 0px;
            bottom: -64px;
            border: 29px solid transparent;
            border-top: 35px solid #D4E2E8;
            border-radius: 2px;
        }
    }
    &--ml {
        left: -156px;
        &:after {
            left: 172px;
        }
    }
}
.test-bg{
    display: none;
}

@media(min-width:1024px){
    .test-bg{
        display: block;
        position: absolute;
        background-color: #B8E3F2;
        width: 543px;
        height: 170px;
        top: -177px;
        right: -58px;
        opacity: .7;
    
        &--last {        
            height: 150px;
            top: -148px;
            right: -40px;;
        }
        &--big {
            height: 192px;
            top: -199px;
        }
    }
}
@media (min-width:1024px) {
    .type-glass__description {
        width: 765px;
        &--last {
            left: -670px;
            &:after {
                left: 675px;
            }
        }
        &--ml {
            display: none;
        }
    }
}
@media(min-width:1366px){
    .type-glass-block {
        &:nth-child(4){
            .type-glass__description {
                left: -240px;
                &:after{
                    left: 420px;
                }
            }
            .test-mod--last{
                width: 495px;
            }
            .test-bg{
                right: 180px;
            }
        }
        &:nth-child(5){
            .type-glass__description {
                left: -240px;
                &:after{
                    left: 360px;
                }
            }
            .test-mod--last{
                width: 495px;
            }
            .test-bg{
                right: -50px;
            }
        }
        
    }
}
@media(min-width:1920px){
    .type-glass-block {
        &:nth-child(4){
            .type-glass__description {
                left: -23px;
                width: 765px;
                &:after{
                    left: 200px;
                }
            }
            .test-mod--last{
                width: 495px;
            }
            .test-bg{
                right: -50px;
            }
        }
        &:nth-child(5){
            .type-glass__description {
                left: -23px;
                width: 765px;
                &:after{
                    left: 150px;
                }
            }
            .test-mod--last{
                width: 495px;
            }
            .test-bg{
                right: -300px;
            }
        }
        
    }
}

.type-glass-block:hover .test-mod{
    display: block;
}
.type-glass-block:hover .type-glass__description{
    display: block;
}
.services-faq-block:hover .test-mod{
    display: block;
}
.type-glass-block__title {
    text-align: center;
    padding-right: 24px;
    color: #7EA0AD;
    line-height: 1;
    font-weight: 500;
    font-size: 15px;
}
.glass__item {
    &:hover {
        cursor: pointer;
    }    
}
.comparison-glass {
    display: none;
}


.conpression-glass-mobile {
    // width: 100%;
    // // width: 100%;
    // // height: 250px;
    // // background-image: url("../img/visual-glass.png");
    // // background-size: cover;
}
.comparison-glass-mobile-type {

}
.comparison-glass-mobile-type__color {

}
.comparison-glass-mobile-type__visual {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../img/visual-glass.png");
    background-size: cover;
    margin-top: 10px;

    &:after {
        position: absolute;
        top: -10px;
        left: 10px;
        content: '';
        width: 145px;
        height: 270px;
        background-color: rgba(151, 213, 200, .15);
        border: 3px solid rgba(151, 213, 200, .7);
        border-radius: 3px;
    }
    &:before {
        position: absolute;
        top: -10px;
        right: 10px;
        content: '';
        width: 145px;
        height: 270px;
        background-color: rgba(152, 214, 236, 0.04);
        border: 3px solid rgba(152, 214, 236, 0.7);
        border-radius: 3px;
    }
}
@media(min-width:350px){
    .comparison-glass-mobile-type__visual {
        &:after {
            width: 165px;
            height: 270px;
        }
        &:before{
            width: 165px;
            height: 270px;
        }
    }
}
@media(min-width:370px){
    .comparison-glass-mobile-type__visual{
        &::after{
            width: 175px;
        }
        &::before{
            width: 175px; 
        }
    }
}
@media(min-width:400px){
    .comparison-glass-mobile-type__visual {
        &:after {
            width: 187px;
        }
        &:before{
            width: 187px;
        }
    }
}
@media(min-width:450px){
    .comparison-glass-mobile-type__visual {
        height: 265px;

        &::after{
            width: 212px;
            height: 285px;
        }
        &::before{
            width: 212px;            
            height: 285px;
        }
    }
}
@media(min-width:520px){
    .comparison-glass-mobile-type__visual {
        margin-top: 30px;
        height: 330px;

        &::after{
            width: 247px;
            height: 350px;
        }
        &::before{
            width: 247px;            
            height: 350px;
        }
    }
}
@media(min-width:600px){
    .comparison-glass-mobile-type__visual {
        margin-top: 30px;
        height: 400px;

        &::after{
            width: 287px;
            height: 420px;
        }
        &::before{
            width: 287px;            
            height: 420px;
        }
    }
}
@media(min-width:650px){
    .comparison-glass-mobile-type__visual {
        margin-top: 30px;
        height: 400px;

        &::after{
            width: 330px;
            height: 420px;
        }
        &::before{
            width: 330px;            
            height: 420px;
        }
    }
}
@media(min-width:768px){
    .comparison-glass-mobile-type__visual {
        margin-top: 30px;
        height: 506px;

        &::after{
            width: 370px;
            height: 525px;
        }
        &::before{
            width: 370px;            
            height: 525px;
        }
    }
}
@media(min-width:900px){
    .comparison-glass-mobile-type__visual {
        margin-top: 30px;
        height: 550px;

        &::after{
            width: 435px;
            height: 570px;
        }
        &::before{
            width: 435px;            
            height: 570px;
        }
    }
}
.glass-qualities-mobile {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
@media(min-width:520px){
    .glass-qualities-mobile {
        justify-content: space-around;
        margin-top: 30px;
    }
}
.glass-qualities-mobile__heading{
    font-weight: 500;
    color: #7EA0AD;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    span{
        font-size: 8px;
    }
}
@media(min-width:350px){
    .glass-qualities-mobile__heading{
        span {
            font-size: 9px;
        }
    }
}
.qualities-mobile-left {
    text-align: right;
    padding-right: 50px;
    margin-left: 15px;

    .glass-qualities-mobile__heading {
        margin-right: -64px;
    }
}
.qualities-mobile-right {
    text-align: left;
    padding-left: 55px;
    margin-right: 25px;
    .glass-qualities-mobile__heading {
        margin-left: -20px;
    }
}
.qualities-mobile-block__title {
    margin-bottom: 20px;
    font-size: 8px;
    position: relative;
    color: #7EA0AD;

    &::after {
        position: absolute;
        content: '';
        top: 15%;
        border-radius: 50%;
        background-color: #F4B955;
        width: 14px;
        height: 14px;
    }

    &--left {
        &::after {
            right: -25px;
        }       
    }

    &--right {
        &::after {
            left: -25px;
        }       
    }
}
@media(min-width:350px){
    .qualities-mobile-block__title {
        font-size: 9px;
    }
}

@media(min-width:1024px){
    .comparison-glass {
        display: block;
        position: relative;
    
        &:before {
            position: absolute;
            z-index: -1;
            content: "";
            top: 125px;
            left: 0;
            width: 100%;
            height: 275px;
            background-color: #7EA0AD;
        }
        
    }
    .comparison-glass-type {
        display: flex;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    .glass-type__color {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 10px;
        color: #fff;
        
    }
    .mr {
        margin-right: 55px;
    }
    .ml{
        margin-left: 55px;
    }
    .glass-type__visual {
        position: relative;
        margin: 0 15px;
    
    
        &:after {
            position: absolute;
            top: 20px;
            left: -55px;
            content: '';
            width: 365px;
            height: 365px;
            background-color: rgba(151, 213, 200, .15);
            border: 3px solid rgba(151, 213, 200, .7);
            border-radius: 3px;
        }
        &:before {
            position: absolute;
            top: 20px;
            right: -55px;
            content: '';
            width: 365px;
            height: 365px;
            background-color: rgba(152, 214, 236, 0.04);
            border: 3px solid rgba(152, 214, 236, 0.7);
            border-radius: 3px;
        }
    }
    .glass-qualities {
        display: flex;
        justify-content: space-around;
        width: 870px;
        // margin-left: auto;
        // margin-right: auto;
        margin-top: 45px;
        width: 100%;
    }
    .qualities-left {
        text-align: right;
        margin-right: 115px;
        width: 445px;
    }
    .qualities-right {
        text-align: left;
        margin-left: 55px;
        width: 445px;
    }
    .glass-qualities-block {
        position: relative;
        margin-bottom: 20px; 
        
        &::after {
            position: absolute;
            content: '';
            top: 15%;
            border-radius: 50%;
            background-color: #F4B955;
            width: 14px;
            height: 14px;
        }
    
        &--left {
            &::after {
                right: -25px;
            }       
        }
    
        &--right {
            &::after {
                left: -25px;
            }       
        }
        
    }
    .qualities-block__title {
        font-weight: 500;
        font-size: 17px;
        color: #7EA0AD;
        
    }

    .conpression-glass-mobile {
        display: none;
    }

    
}
@media(min-width:1366px){
    .glass-type__visual {
        margin: 0 121px;
    }
    .mr {
        margin-right: 0px;
    }
    .ml{
        margin-left: 0px;
    }
    .glass-type__color {
        font-size: 9px;
    }
}

@media(min-width:1920px){
    .glass-type__visual {
        margin: 0 74px;
    }
    .comparison-glass-type {
        width: 1240px;
    }
    .qualities-left {
        margin-right: 55px;
    }

    .glass-type__color {
        font-size: 15px;        
    }
}

