.section-jobs {
    padding-top: 30px;
    text-align: center;
}

.section-jobs__slider {
    margin-top: 30px;
    margin-bottom: 50px;
}
.section-jobs__description {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1;
    color: #7EA0AD;
    font-weight: 300;    
    font-size: 10px;
    line-height: 1;
}
@media(min-width:350px){
    .section-jobs__description{
        width: 333px;    
        font-size: 13px;
    }
}
@media(min-width:520px){
    .section-jobs__description {
        width: 100%;
        font-size: 10px;
    }
}
@media(min-width:1024px){
    .section-jobs__description {
        width: 705px;
        font-size: 19px;
    }
}

.accordion {
    position: relative;
    border-radius:5px;
    background-color: #fff;
    padding: 18px 1px;
    cursor: pointer;
    width: 230px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s; 
    

    font-weight: 500;   
    color: #7EA0AD;
    
    
    &:after {
        content: '';
        position: absolute;
        right: -10px;
        bottom: 5px;
        border: 15px solid transparent;
        border-top: 20px solid #7EA0AD;
        border-radius: 2px;
    }    
  }  
  @media(min-width:360px){
      .accordion{
        padding: 18px 18px;
        width: 316px;
        font-size: 12px;

        &:after {
            right: 5px;
        }
      }
  }
  @media(min-width:520px){
    .accordion{
        font-size: 19px;
        width: 100%;
    }
  }
  @media(min-width:1024px){
      .accordion{
          &:after{
              right: 5px;
          }
      }
  }
.active-slide {       
    &:after {
        content: '';
        position: absolute;
        right: -10px;
        bottom: 25px;
        border: 15px solid transparent;
        border-bottom: 20px solid #7EA0AD;
        border-radius: 2px;
    }
}
@media(min-width:350px){
    .active-slide{
        right: 10px;
    }
}
.accordion-img{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.accordiom-img__item{
    width: 120px;
    height: 175px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 5px;
    position: relative;
    margin-bottom: 15px;
    &:nth-child(2),&:last-child {
        margin-right: 0;
    }

    img {
        width: 120px;
        height: 175px;
    }
}
@media(min-width:350px){
    .accordiom-img__item {
        width: 140px;
        margin-right: 15px;
        img {
            width: 140px;
        }
    }
}
.accordion__description {
    
    display: none;
}
.accordion__description--mobile {
    display: block;
    max-width: 277px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #7EA0AD;
}
@media(min-width:520px){
    .accordion-img {
        flex-wrap: nowrap;
        border-color: transparent;
    }
    .accordiom-img__item {
        &:nth-child(2) {
            margin-right: 15px;
        }
        img {
        width: 235px;
        height: 150px;            
        }
    }
    .accordion__description--mobile {
        display: none;
    }
    .accordion__description {
        margin-left: 0;
        list-style-type: none;
        display: block;
        font-weight: normal;
        text-align: center;
        width: 100%;
        font-size: 19px;
        text-align: left;
        color: #7EA0AD;
    }
}
@media(min-width:1024px){
    .accordiom-img__item {
        &:nth-child(2) {
            margin-right: 15px;
        }
        img {
        width: 235px;
        height: 300px;            
        }
    }
    .accordion__description {
        margin-left: 0;
        list-style-type: none;
        display: block;
        font-weight: normal;
        text-align: center;
        width: 100%;
        font-size: 15px;
        text-align: left;
        color: #7EA0AD;
    }
}
@media(min-width:1920px){
    .accordion__description {
        width: 975px;
        font-size: 19px;
    }
}
.wrapper {
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;    
    margin-bottom: 20px;

    .border {
        border: 2px solid ;
        border-image: linear-gradient(130deg, rgba(244, 185, 85, .46), #91b7c6);
        border-image-slice: 1;
    }
}
.panel {    
    margin-left: 9px; 
    text-align: left;
    padding: 11px 5px;
    display: none;
    background-color: white;
    overflow: hidden;
    display: none;
    border: none;
}
@media(min-width:520px){
    .panel{
        padding: 11px 0; 
        margin-right: 35px;
        margin-left: 30px;
        border: none;
    }
    .accordiom-img__item{        
        width: 230px;
        height: 150px;
        margin-bottom: 0;
        border: none;
    }
}
@media(min-width:1024px){
    .panel{
        padding: 11px 0; 
        margin-right: 35px;
        border: none;
    }
    .accordiom-img__item{        
        width: 235px;
        height: 300px;
        margin-bottom: 0;
        border: none;
    }
}
@media(min-width:1024px) {
    .panel{
        padding: 11px 18px; 
        margin-right: 35px;
        border: none;
    }
    .accordiom-img__item{        
        width: 235px;
        height: 300px;
        margin-bottom: 0;
        border: none;
    }
}
