.gager-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;

    background: rgba(182, 199, 206, 0.25);
    backdrop-filter: blur(50px);
    //display: flex;
    justify-content: center;
    align-items: center;

    &--active {
        display: flex;
    }
}
.bg-form {
    position: absolute;
    content: '';
    width: 291px;
    height: 110%;
    right: -24px;
    top: -20px;
    background: rgba(133, 168, 182, 0.5);
    z-index: -1;

    
}
.modal-wrapper {
    position: relative;
    display: flex;
    // justify-content: center;
    width: 300px;
    flex-wrap: wrap;
    background-color: #fff;
    border: 4px solid #F4B955;
    border-radius: 10px;
    padding: 0px 6px;    
}
@media(min-width:900px){
    .modal-wrapper{
        width: 410px;
        padding: 20px 60px;
    }
}
.gager-form__title {
    margin: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;    
    color: #85A8B6;
}
.gager-form__heading {
    font-weight: 600;
    font-size: 15px;
    color: #85A8B6;
}
.gager-form__form {
    margin-top: 20px;
}
.form-input {
    border: 1px solid #F4B955;
    border-radius: 5px;
    padding: 14px 13px;
    outline: none;
    width: 280px;

    color: #7EA0AD;
    font-size: 16px;

   
    
    &--time  {
        width: 44px;
        height: 30px;
        margin-right: 10px;
    }

    &--textarea {
        height: 50px;
        resize: vertical;
        margin-bottom: 35px;
    }

    
    &::placeholder {
        color: #D8E2E6;
        font-size: 16px;
    }
}
.form-input--date {
    position: relative;
    height: 30px;
    width: 172px;

    &:after {
        position: absolute;
        content: '';
        width: 18px;
        height: 16px;
        background-image: url('../img/bg/calendar.png');
        top: 0;
        right: 0;
    }
}
.form-label {
    font-weight: 500;
    font-size: 13px;
    color: #7EA0AD;
}
.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 290px;

    
}
.gager-form__button-option {
    position: relative;
    border: 1px solid #F4B955;
    border-radius: 5px;
    width: 250px;
    padding: 7px 12px ;
    margin-top: 7px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 30px;

    font-weight: normal;
    font-size: 14px;
    color: #7EA0AD;

    &:after {
        position: absolute;
        top: 15px;
        right: 10px;
        content: '';
        width: 24px;
        height: 18px;
        background-image: url('../img/form-after.png');
    }

    &:before {
        position: absolute;
        content: '(необязательно)';
        bottom: -18px;
        left: 60px;
        font-size: 12px;
    }

}
.gager-form-button-send {
    background: #F4B955;
    border-radius: 10px;
    width: 290px;
    color: #fff;
    padding: 20px 40px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}
.gager-form__description {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #B0C3CA;
    margin-top: 17px;
    margin-bottom: 15px;
}

.time {
    display: flex;
}
.test-p {
    margin-left: -5px;
    margin-right: 5px;
}
.form-option {
    display: none;

    &--active {
        display: block;
    }
}