.view {
    padding-top: 30px;    
}

.view__title {
    color: #7EA0AD;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}
.view__slider {
    padding: 20px 0 0 0;
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: space-between;
}
.view__slider-item {
    margin: 0 ;
    display: inline-block;
    background-color: #7EA0AD;
    list-style-type: none;
    margin-right: 20px;
    border: 1px solid #F4B955;
    transition: all 0.3s ease-in;
    border-radius: 10px;
    

    button {
        background-color: transparent;
        border: none;
        outline: none;
        // width: 100%;
        // height: 100%;
        padding: 8px 20px ;
        cursor: pointer;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid #799DAD;        
        background-color: #F4B955;
    }

    &--active {
        background-color: #F4B955;
        border: 3px solid #799DAD;
    }

    &:last-child {
        margin-right: 0;
        line-height: 1.5;
        padding: 0;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        border: 3px solid #799DAD;        
        background-color: #F4B955;
        text-align: center;


        width: 118px;
        padding-top: 7px;        
        height: 67px;
        vertical-align: bottom;

        a {
            color: #fff;
        }
    }
}

    .items {
    position: absolute;

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-color: green;
        }
    }

@media(min-width:1024px){
    .view__slider-item {
        margin-right: 0;
    }
}
.viev__slider-big {
    position: relative;
    margin-top: 50px;
    padding-top: 30px;
    max-width: 1093px;
    //height: 450px;
    border: 3px solid #7EA0AD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(126, 160, 173) 11%);   
    color: #fff; 

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: -22px;
        //border: 33px solid transparent;
        // border-bottom: 45px solid #7EA0AD;
        // border-radius: 13px;
        background-image: url("../img/after.png");
        background-size: cover;
        width: 33px;
        height: 24px;
    }
    &--ml137 {
        &:after {
            left: 137px;
        }
    }
}
@media(min-width:1024px){
    .viev__slider-big {        
        height: 450px;
        border-radius: 10px;
    }
}
#carousel-1, #carousel-2 {
    overflow: hidden;
    width: 100%;
    height: 370px;
    margin-bottom: 60px;
}
.prev {    
    position: absolute;
    top: 220px;
    left: 50px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-left.png');

    &--furniture {
        left: 120px;
    }
    
}
.next {
    position: absolute;
    top: 220px;
    right: 50px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-right.png');

    &--furniture {
        right: 120px;
    }
    
}
.prev, .next {
    display: none;
}
@media(min-width:1024px){
    .prev, .next {
        display: block;
    }
}
.slider-big__item {
    width: 310px;
    height: 340px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F4B955;
    border-radius: 5px;
}
.mobile-p {
    display: block;
    color: #7EA0AD;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    margin: auto;
    width: 300px;
    margin-bottom: 20px;

}
@media(min-width:1024px){
    .mobile-p {
        display: none;
    }
}
.mobile-btn {
    padding: 20px 25px;
    background-color: #F4B955;
    outline: none;
    border: 2px solid #7EA0AD;
    border-radius: 10px;
    color: #fff;
    width: 170px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 11px;
}
@media(min-width:1024px){
    .mobile-btn {
        display: none;
    }
}
.slider-big__btn{
    display: none;
}
@media(min-width:1024px){
    .slider-big__btn {
        position: absolute;
        bottom: -30px;
        left: 342px;
        display: block;
        padding: 20px 30px;
        background-color: #F4B955;
        outline: none;
        border: 2px solid #7EA0AD;
        border-radius: 10px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;      
        transition: all 0.3s ease-in;      
        width: 390px;

        &:hover {
            border: 2px solid #fff;
        }

        &--index {
                &::after {
                    position: absolute;
                    top: 15px;
                    left: 30px;
                    content: '';
                    width: 20px;
                    height: 25px;
                    background-image: url("../img/calck.png");
                    background-size: cover;
            
                }
        }
    }
}
.send-email{
    left: 65px;
    width: 286px;
    padding: 20px 10px;
}
.gager{
    left: 390px;
    width: 235px;
    padding: 20px 10px;
}
.consultation{
    left: 660px;
    width: 235px;
}
.check {
    position: relative;
    display: flex;
    flex-direction: column;
    &:hover {
        cursor: pointer;
    }
    img {
        width: 87px;
    }
}
@media(min-width:1024px){
    .check {
        img {
            width: auto;
        }
    }
}
.slider-big__description-footer {
    width: 780px;
    text-align: center;
    color: #7EA0AD;
    font-weight: 500;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 8px;
}
.check__input {
    position: absolute;
    appearance: none;  
    
}
.check__input:checked + .check__box {
    background-image: url('../img/input-on.png');

}.check__input:checked + .check__box--option {
    background-image: url('../img/input-opt.png');
}
.check__box {
    position: absolute;
    top: -7px;
    left: -8px;
    width: 26px;
    height: 26px;
    background-image: url('../img/input.png');

    &--option {
        top: 7px;
        left: -36px;
    }
    
}
.slider-big__heading {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.slider-big__description {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    width: 690px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.slider-big__view {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
    width: 100%;
    display: flex;      
    justify-content: center;
    flex-wrap: wrap; 
}
@media (min-width:1024px) {
    .slider-big__view {
        justify-content: center;
        flex-wrap: nowrap;
    }
}
.slider-big__title {
    margin-top: 10px;
    color: #fff;

    
}
.slider-big__options {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.slider-big__services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 935px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 150px;
}
.p{
    padding-right: -130px;
}
.block-services{
    width: 225px;
    margin-right: 130px;

    &:last-child {
        margin-right: 0;
    }
    &:nth-child(3){
        margin-right: 0;
    }
}
input[type="checkbox"] {
    display: none;
}

.block-services___label {
    padding-left: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;

    &:before {
        content: '';
        top: 5px;
        left: 25px;
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/input.png');
        vertical-align: middle;
        margin-left: -10px;
        margin-right: 10px;
    }
}
.services-option-input {
    width: 55px;
    height: 25px;
    border: 1px solid #D4E2E8;
    border-radius: 5px;
    background-color: inherit;
    outline: none;
    margin-left: 5px;
    color: #D4E2E8;
}
.services-option {
    color: #D4E2E8;
    text-decoration: underline;
    margin-left: 45px;
    font-weight: 500;
    font-size: 14px;
    display: block;

    img {
        margin-left: 10px;
    }
    &--floor {
        margin-left: 90px;
    }
    &--shelf {
        margin-left: 45px;
    }
}

.block-services___input[type="checkbox"]:checked + .block-services___label::before {
    background-image: url('../img/input-on.png');
}
.block-view {
    display: flex;
    margin-right: 25px;
    margin-bottom: 15px;
    &:last-child {
        margin-right: 0;
    }
}
@media(min-width:1024px){
    .block-view {
        margin-bottom: 0;
    }
}
.block-option {
    position: relative;
    margin-right: 70px;

    &:last-child {
        margin-right: 0;
    }
}
.services-faq {
    position: absolute;
    top: 70%;
    left: 80px;
    transform: translateY(-50%);
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #7EA0AD;
}
.services-faq-left {
    text-align: right;
    text-align-last: left;
    margin-right: 150px;
}
.services-faq-right {
    text-align-last: left;
    margin-left: 150px;
    text-align-last: left;
}
.services-faq__item {
    position: relative;
    margin-bottom: 15px;

    &:after {
        position: absolute;
        top: 0;
        left: -10px;
        content: '-';
        width: 3px;
        height: 1px;
    }
    &:hover {cursor: pointer;}
}
.services-faq-block {
    position: relative;
}
.services-faq-block:hover .type-glass__description{
    display: block;
}
.services-img{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #D4E2E8;
    border-radius: 100px;
    background-image: url('../img/faq-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.deadlines, .price {
    margin-left: 60px;
    font-weight: 500;
    font-size: 16px
}
.deadlines-options {
    display: flex;
    align-items: center;
}
.slider-big__list {
    margin-top: 5px;
    margin-bottom: 10px;
    li {
        width: 840px;        
    }
}
.deadlines-options__total {
    margin-right: 70px;
    padding: 12px 15px;
    background: #97B0BA;
    border: 1px solid #BFD7E0;
    border-radius: 5px;
}
.deadlines-options___label {
    cursor: pointer;
    &:before {
        content: '';
        top: 5px;
        left: 25px;
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/input.png');
        vertical-align: middle;
        margin-left: -10px;
        margin-right: 10px;
    }
}
.deadlines-options___input[type="checkbox"]:checked + .deadlines-options___label:before {
    background-image: url('../img/input-on.png');
}
.price {
    color: #7EA0AD;
    margin-top: 25px;
}
.slider-big__list {
    padding-left: 18px;
}
.pagination {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.pagination__item {
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid #D4E2E8;
    border-radius: 5px;
    padding: 6px 11px;
    color: #7EA0AD;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in;

    &:hover, &:active{
        color: #fff;
        background: #7EA0AD;
        border: 1px solid #F4B955;;
    }

    &:last-child {
        margin-right: 0;
    }
 }
.btn-block {
    width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.btn-block__item {
    width: 200px;
    background: #FFFFFF;;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 2px solid #F4B955;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: #668997;
    margin-right: 10px;
    transition: all 0.3s ease-in;

    &:last-child{
        margin-right: 0;
    }

    &:hover {        
        background: #F4B955;
        color: #fff;        
        border: 2px solid #F4B955;
    }
}
.slider-big__slider {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.carousel__item {
    margin-right: 10px;
    width: 170px;
    height: 125px;
}
.bg-color {
    color: #fff;
    background: #7EA0AD;
    border: 1px solid #F4B955; 
}
.color {
    color: #7EA0AD;
}