.view {
    padding-top: 30px;    
}

.view__title {
    color: #7EA0AD;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}
.view__slider {
    padding: 20px 0 0 0;
}
.view__slider-item {
    margin: 0 ;
    padding: 8px 20px ;
    display: inline-block;
    background-color: #7EA0AD;
    list-style-type: none;
    margin-right: 20px;
    border: 3px solid #F4B955;
    transition: all 0.3s ease-in;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        border: 3px solid #799DAD;        
        background-color: #F4B955;
    }

    &--active {
        background-color: #F4B955;
        border: 3px solid #799DAD;
    }

    &:last-child {
        margin-right: 0;
        line-height: 1.5;
        padding: 0;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        border: 3px solid #799DAD;        
        background-color: #F4B955;
        text-align: center;


        width: 118px;
        padding-top: 7px;
        height: 55px;
        vertical-align: bottom;

        a {
            color: #fff;
        }
    }
}
.viev__slider-big {
    position: relative;
    margin-top: 50px;
    padding-top: 30px;
    width: 1085px;
    height: 450px;
    border: 3px solid #7EA0AD;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(126, 160, 173) 11%);    

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: -77px;
        border: 33px solid transparent;
        border-bottom: 45px solid #7EA0AD;
        border-radius: 13px;
    }
}
.prev {    
    position: absolute;
    top: 200px;
    left: 50px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-left.png');
}
.next {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-right.png');
}
.slider-big__item {
    width: 310px;
    height: 340px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F4B955;
    border-radius: 5px;
}

.calculation-btn {
    position: absolute;
    bottom: -30px;
    left: 342px;
    padding: 20px 30px;
    background-color: #F4B955;
    outline: none;
    border: 2px solid #7EA0AD;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;      
    transition: all 0.3s ease-in;      
    width: 390px;

    &:hover {
        border: 2px solid #fff;
    }
}
.send-email{
    left: 65px;
    width: 286px;
}
.gager{
    left: 390px;
    width: 235px;
}
.consultation{
    left: 660px;
    width: 235px;
}
.check {
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.check__input {
    position: absolute;
    appearance: none;  
    
}
.check__input:checked + .check__box {
    background-image: url('../img/input-on.png');

}.check__input:checked + .check__box--option {
    background-image: url('../img/input-opt.png');
}
.check__box {
    position: absolute;
    top: -7px;
    left: -8px;
    width: 26px;
    height: 26px;
    background-image: url('../img/input.png');

    &--option {
        top: 7px;
        left: -36px;
    }
    
}
.slider-big__heading {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.slider-big__view {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    display: flex;
    
    
}
.slider-big__title {
    margin-top: 10px;
    color: #fff;
}
.slider-big__options {
    margin-top: 120px;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.block-view {
    display: flex;
    //text-align: center;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
.block-option {
    position: relative;
    margin-right: 70px;

    &:last-child {
        margin-right: 0;
    }
}
.pagination {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.pagination__item {
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid #D4E2E8;
    border-radius: 5px;
    padding: 6px 11px;
    color: #7EA0AD;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in;

    &:hover, &:active{
        color: #fff;
        background: #7EA0AD;
        border: 1px solid #F4B955;;
    }

    &:last-child {
        margin-right: 0;
    }
 }