.view {
    padding-top: 30px;    
}

.view__title {
    color: #7EA0AD;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}
.view__slider {
    padding: 20px 0 0 0;
}
.view__slider-item {
    margin: 0 ;
    padding: 8px 20px ;
    display: inline-block;
    background-color: #7EA0AD;
    list-style-type: none;
    margin-right: 20px;
    border: 3px solid #F4B955;
    transition: all 0.3s ease-in;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        border: 3px solid #799DAD;        
        background-color: #F4B955;
    }

    &--active {
        background-color: #F4B955;
        border: 3px solid #799DAD;
    }

    &:last-child {
        margin-right: 0;
        line-height: 1.5;
        padding: 0;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        border: 3px solid #799DAD;        
        background-color: #F4B955;
        text-align: center;


        width: 118px;
        padding-top: 7px;
        height: 55px;
        vertical-align: bottom;

        a {
            color: #fff;
        }
    }
}
.viev__slider-big {
    position: relative;
    margin-top: 50px;
    width: 1085px;
    height: 450px;
    border: 3px solid #7EA0AD;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(126, 160, 173) 11%);

    &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: -77px;
        border: 33px solid transparent;
        border-bottom: 45px solid #7EA0AD;
        border-radius: 13px;
    }
}
.prev {    
    position: absolute;
    top: 200px;
    left: 50px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-left.png');
}
.next {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-right.png');
}
.slider-big__item {
    width: 310px;
    height: 340px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F4B955;
    border-radius: 5px;
}

// .carousel {
//     display: relative;
//   }
//   .carousel img {
//     display: hidden; /* hide images until carousel prepares them */
//     cursor: pointer; /* not needed if you wrap carousel items in links */
//   }

.calculation-btn {
    position: absolute;
    bottom: -30px;
    left: 342px;
    padding: 20px 30px;
    background-color: #F4B955;
    outline: none;
    border: 2px solid #7EA0AD;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;      
    transition: all 0.3s ease-in;  

    &:hover {
        border: 2px solid #fff;
    }
}