.view {
    padding-top: 30px;
}

.view__title {
    color: #7EA0AD;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    width: 250px;
    margin: auto;

    &--color {
        color: #7EA0AD;
    }
}
@media(min-width:1024px){
    .view__title {
        font-size: 22px;
        width: auto;
    }
}

.view__slider {
    padding: 20px 0 0 0;
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: space-between;
}

.view__slider-item {
    margin: 0;
    display: inline-block;
    background-color: #7EA0AD;
    list-style-type: none;
    margin-right: 20px;
    border: 1px solid #F4B955;
    transition: all 0.3s ease-in;
    border-radius: 10px;
    color: #fff;
    width: 82px;
    display: flex;
    justify-content: center;


    button {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 8px 18px;
        cursor: pointer;
        width: 100%;
        height: 100%;

        // img {
        //     width: 39px;
        //     height: 42px;
        // }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid #799DAD;
        background-color: #F4B955;
    }

    &--active {
        border: 1px solid #799DAD;
        background-color: #F4B955;
    }

    &:last-child {
        margin-right: 0;
        line-height: 1.5;
        padding: 0;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        border: 3px solid #799DAD;
        background-color: #F4B955;
        text-align: center;


        width: 118px;
        padding-top: 7px;
        height: 67px;
        vertical-align: bottom;

        button {
            color: #fff;
            line-height: 1.5;
            padding-top: 3px;
        }
    }
}

.items {
    position: absolute;

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: green;
    }
}

@media(min-width:1024px) {

    .view__slider-item {
        margin-right: 0;
    }
}

.viev__slider-big {
    position: relative;
    max-width: 1095px;
    // height: 465px;
    border: 3px solid #7EA0AD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 57%, rgb(126, 160, 173) 11%);
    color: #fff;



    &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: -22px;
        background-image: url("../img/after.png");
        background-size: cover;
        width: 33px;
        height: 24px;
    }

    &--ml137 {
        &:after {
            left: 137px;
        }
    }
}
.mbm{
    margin-bottom: 25px;
}
.bgc{
    background: linear-gradient(0deg, rgb(255, 255, 255) 61%, rgb(126, 160, 173) 11%);
}
@media(min-width:450px){
    .bgc{
        background: linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(126, 160, 173) 11%);
    }
}

@media(min-width:900px) {
    .viev__slider-big {
        padding-top: 20px;
        height: 470px;
        border-radius: 10px;
        margin-top: 20px;
        background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(126, 160, 173) 11%);
    }
    .mbm{
        margin-bottom: 0;
    }
}

.carousel {
    overflow: hidden;
    width: 100%;
    height: 370px;
    margin-bottom: 13px;
}
@media(min-width:1024px){
    .carousel {
        margin-bottom: 60px;
    }
}
.prev {
    position: absolute;
    top: 220px;
    left: 0px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-left.png');

    &--furniture {
        left: 20px;
    }

}

.next {
    position: absolute;
    top: 220px;
    right: 0px;
    width: 52px;
    height: 36px;
    background: url('../img/arrow-right.png');

    &--furniture {
        right: 20px;
    }
}

.prev,
.next {
    display: none;
}

@media(min-width:900px) {

    .prev,
    .next {
        display: block;
    }
}
@media(min-width:1024px) {

    .prev{
        left: 50px;
    }
    .next {
        right: 50px;
    }
}
@media(min-width:1920px){
    .prev{
        &--furniture {
            left: 120px;
        }
    }
    .next {
        &--furniture {
            right: 120px;
        }
    }
}

.slider-big__item {
    width: 310px;
    height: 340px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F4B955;
    border-radius: 5px;
}

.mobile-p {
    display: block;
    color: #7EA0AD;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    margin: auto;
    width: 300px;
    margin-bottom: 20px;

}

@media(min-width:900px) {
    .mobile-p {
        display: none;
    }
}

.mobile-btn {
    padding: 20px 10px;
    background-color: #F4B955;
    outline: none;
    border: 2px solid #7EA0AD;
    border-radius: 10px;
    color: #fff;
    width: 170px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 11px;
}

@media(min-width:900px) {
    .mobile-btn {
        display: none;
    }
}


.slider-big__btn {
    position: absolute;
    bottom: -22px;
    left: 48px;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4B955;
    outline: none;
    border: 2px solid #7EA0AD;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    width: 230px;

    &:hover {
        border: 2px solid #fff;
    }

    &--index {
        &::after {
            position: absolute;
            top: 15px;
            left: 30px;
            content: '';
            width: 20px;
            height: 25px;
            background-image: url("../img/calck.png");
            background-size: cover;

        }
    }
}
@media(min-width:350px){
    .slider-big__btn{
        left: 60px;
    }
}
@media(min-width:360px){
    .slider-big__btn{
        left: 67px;
    }
}
@media(min-width:400px){
    .slider-big__btn{
        left: 90px;
    }
}
@media(min-width:450px){
    .slider-big__btn{
        left: 115px;
    }
}
@media(min-width:600px){
    .slider-big__btn{
        left: 180px;
    }
}
@media(min-width:660px){
    .slider-big__btn{
        left: 223px;
    }
}
@media(min-width:740px){
    .slider-big__btn{
        padding: 20px 25px;
        font-size: 12px;
        bottom: -30px;
        left: 250px;
    }
}
@media(min-width:900px){
    .slider-big__btn {
        bottom: -30px;
        left: 260px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;        
        font-size: 16px;        
        width: 390px;
    }
}
@media(min-width:1024px){
    .slider-big__btn{
        left: 300px;
    }
}
@media(min-width:1366px){
    .slider-big__btn{
        left: 342px;
    }
}
.slider-big__btn--index {
    display: none;
}
@media(min-width:900px) {
    .slider-big__btn--index {
        display: block;
    }
}

.btn-mobile{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 15px;
}
@media(min-width:450px){
    .btn-mobile{
        justify-content: center;
    }
}
.send-email--mobile {
    position: static;
    width: 143px;
    margin-right: 12px;
    padding: 12px;
    font-size: 8px;
    margin-bottom: 10px;
}

.gager--mobile {
    position: static;
    width: 134px;
    padding: 11px;
    font-size: 10px;
    margin-bottom: 10px;
}

.consultation--mobile {
    position: static;
    left: 660px;
    width: 115px;
    padding: 12px 11px;
    font-size: 11px;
    margin-bottom: 10px;
}

.slider-contact {
    width: 145px;
    margin-right: 27px;

    font-weight: 500;
    font-size: 8px;
    text-align: center;
    color: #7EA0AD;
}
@media(min-width:350px){
    .send-email--mobile{
        width: 160px;
    }
    .gager--mobile{
        width: 147px;
        font-size: 11px;
    }
    .slider-contact{
        width: 157px;
        margin-right: 47px;
    }
}
@media(min-width:380px){
    .send-email--mobile{
        width: 175px;
        font-size: 10px;
    }
    .gager--mobile{
        width: 160px;
        font-size: 12px;
    }
    .slider-contact{
        width: 175px;
        margin-right: 58px;
        font-size: 10px;        
    }
    .consultation--mobile{
        width: 115px;
        font-size: 11px;
    }
}
@media(min-width:400px){
    .send-email--mobile{
        width: 190px;
        font-size: 11px;
    }
    .gager--mobile{
        width: 160px;
        font-size: 11px;
    }
    .slider-contact{
        width: 187px;
        font-size: 11px;
    }
}
@media(min-width:660px){
    .send-email--mobile, .gager--mobile, .slider-contact{
        width: 200px;
    }
    .consultation--mobile {
        width: 153px;
    }
}
@media(min-width:740px){
    .send-email--mobile, .gager--mobile, .slider-contact{
        width: 250px;
    }
    .consultation--mobile {
        width: 200px;
    }
}
// @media(min-width:660px){
    
// }
.send-email {
    display: none;
    left: 65px;
    width: 286px;
    padding: 20px 10px;
}

.gager {
    display: none;
    left: 390px;
    width: 235px;
    padding: 20px 10px;
}

.consultation {
    display: none;
    left: 660px;
    width: 235px;
}
@media(min-width:900px){
    .btn-mobile{
        display: none;
    }
    .send-email, .gager, .consultation{ display: block;}
}

.check {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 87px;
    }
}

@media(min-width:900px) {
    .check {
        margin-bottom: 0;
        img {
            width: auto;
        }
    }
}

.slider-big__description-footer {
    max-width: 780px;
    text-align: center;
    color: #7EA0AD;
    font-weight: 500;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 8px;
}

.check__input {
    position: absolute;
    appearance: none;

}

.check__input:checked+.check__box {
    background-image: url('../img/input-on.png');

}

.check__input:checked+.check__box--option {
    background-image: url('../img/input-opt.png');
}

.check__box {
    position: absolute;
    top: -7px;
    left: -8px;
    width: 26px;
    height: 26px;
    background-image: url('../img/input.png');

    &--option {
        top: 0px;
        left: -35px;
    }

}
@media(min-width:1024px){
    .check__box--option{
        left: -36px;
        top: 7px;
    }
}

.slider-big__heading {
    display: none;
}

.slider-big__description {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.slider-big__view {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media(min-width:350px){
    .slider-big__view{
        width: 95%;
    }
}
@media(min-width:360px){
    .slider-big__view{
        width: 90%;
    }
}
@media(min-width:360px){
    .slider-big__view{
        width: 88%;
    }
}
@media(min-width:390px){
    .slider-big__view{
        width: 87%;
    }
}
@media(min-width:400px){
    .slider-big__view{
        width: 80%;
    }
}
@media(min-width:450px){
    .slider-big__view{
        width: 79%;
    }
}
@media(min-width:520px){
    .slider-big__view{
        width: 67%;
    }
}

@media(min-width:600px){
    .slider-big__view {
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
@media (min-width:600px) {
    .slider-big__heading {
        display: block;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }

    
}

.slider-big__title {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    padding-right: 16px;

    &--color {
        color: #7EA0AD;
    }

}
@media(min-width:900px){
    .slider-big__title{
        font-size: 18px;
        padding-right: 20px;
    }
}
.slider-services__title {
    margin-top: 10px;
    color: #fff;
    font-size: 10px;
    padding-right: 16px;
    text-align: center;

    &--color {
        color: #7EA0AD;
    }

}
@media(min-width:900px){
    .slider-services__title{
        font-size: 18px;
        padding-right: 20px;
    }
}
@media(min-width:600px){
    .slider-services__title--color {
        color: #fff;
    }
}
.slider-big__options{
    display: none;
}
.slider-big__options--mobile{
    margin-bottom: 25px;
    width: 200px;
}
@media(min-width:380px){
    .slider-big__options--mobile{
        width: 268px;
    }
}
@media(min-width:400px){
    .slider-big__options--mobile{
        width: 245px;
    }
}

@media(min-width:740px){
    .slider-big__options {
        display: block;
        margin-top: 80px;
        margin-bottom: 30px;
        width: 735px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        font-size: 12px;
    }
}
@media(min-width:1024px){
    .slider-big__options{
        
        font-size: 16px;
        width: 845px;
    }
}


.slider-big__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 935px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
@media(min-width:350px){
    .slider-big__services {
        justify-content: space-around;
    }
}
@media(min-width:660px){
    .slider-big__services {
        margin-top: 30px;
    }
}
@media(min-width:1024px){
    .slider-big__services {
        align-items: center;
    }
}
.p {
    padding-right: -130px;
}

.block-services {
    width: 145px;
    height: 20px;
    margin-right: 0px;

    &:last-child {
        margin-right: 0;
    }

    &:nth-child(3) {
        margin-right: 0;
    }
}
@media(min-width:380px){
    .block-services {
        width: 172px;
    }
}
@media(min-width:740px){
    .block-services {
        width: 185px;
    }
}
@media(min-width:900px){
    .block-services {
        width: 225px;
    }
}
@media(min-width:1024px){
    .block-services {
        width: 225px;
        height: auto;
        margin-right: 130px;
    }
}
input[type="checkbox"] {
    display: none;
}

.block-services___label {
    padding-left: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 9px;

    &:before {
        content: '';
        top: 5px;
        left: 25px;
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/input.png');
        vertical-align: middle;
        margin-left: -10px;
        margin-right: 10px;
    }
}
@media(min-width:380px){
    .block-services___label{
        font-size: 12px;
    }
}
@media(min-width:1024px){
    .block-services___label{
        font-size: 16px;        
    }
}
.services-option-input {
    width: 37px;
    height: 25px;
    border: 1px solid #D4E2E8;
    border-radius: 5px;
    background-color: inherit;
    outline: none;
    margin-left: 5px;
    color: #D4E2E8;
}
@media(min-width:380px){
    .services-option-input{
        width: 50px;
    }
}
@media(min-width:1024px){
    .services-option-input{
        width: 55px;
        height: 25px;
    }
}
.services-option {
    color: #D4E2E8;
    text-decoration: underline;
    margin-left: 45px;
    font-weight: 500;
    font-size: 8px;
    display: block;
    background: #7EA0AD;
    border:none;
    outline: none;

    option{
        box-shadow: none;
    }
    
    img {
        margin-left: 10px;
    }
    &--map{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            background: url('../img/test.png');
            top: 0;
            right: 0;
            width: 19px;
            height: 12px;    
        }
    }

    &--floor {
        margin-left: 65px;
    }

    &--shelf {
        margin-left: 45px;
    }
}

@media(min-width:380px){
    .services-option {
        font-size: 10px;
        &--map{
            &:before{
                right: 6px;
            }
        }
        &--floor {
            margin-left: 75px;
        }
    }
}
@media(min-width:390px){
    .services-option--shelf{
        font-size: 9px;
    }
}
@media(min-width:1024px){
    .services-option {
        font-size: 14px;

        &--floor {
            margin-left: 90px;
        }
        &--shelf {
            font-size: 14px;
        }
    }
}

.block-services___input[type="checkbox"]:checked+.block-services___label::before {
    background-image: url('../img/input-on.png');
}

.block-view {
    display: flex;
    margin-right: 25px;
    margin-bottom: 15px;

    &:last-child {
        margin-right: 0;
    }

}

.slider-big--df {
    display: flex;
}
@media(min-width:350px){
    .slider-big--df {
        margin: auto;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:660px){
    .slider-big--df{
        margin-top: 20px;
    }
}
.slider-big__comparison {
    position: relative;
    border: 1px solid #D4E2E8;
    border-radius: 5px;
    width: 125px;
    height: 118px;
    margin-right: 15px;
    a{
        display: block;
        padding-top: 62px;
        width: 100%;
        height: 100%;}
}
@media(min-width:380px){
    .slider-big__comparison{
        margin-right: 9px;
    }
}
.slider-big__comparison--description {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    color: rgba(126, 160, 173, 0.7)
}
@media(min-width:740px){
    .slider-big--df{
        display: none;
    }
}
.block-option--mobile{
    font-size: 9px;
    padding-left: 55px;
    span {
        font-size: 7px;
    }
}
// @media(min-width:380px){

// }
@media(min-width:380px){
    .block-option--mobile{
        font-size: 12px;
        padding-left: 37px;
        span {
            font-size: 10px;
        }
    }
}
.block-option {
    position: relative;

    &:last-child {
        margin-right: 0;
    }
}
@media(min-width:900px) {
    .block-option {
        margin-right: 70px;
    }
    .block-view {
        margin-bottom: 0;
    }
}

.services-faq {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 10px;
    color: #7EA0AD;
    width: 315px;
}

@media(min-width:900px){
    .services-faq{
        font-size: 14px;
    }
}

.services-faq-left {
    text-align: right;
    text-align-last: left;
    margin-right: 85px;
}

.services-faq-right {
    text-align-last: left;
    margin-left: 85px;
    text-align-last: left;
}
@media(min-width:1024px){
    .services-faq-left{
        margin-right: 150px;
    }
    .services-faq-right{
        margin-left: 150px;
    }
}

.services-faq__item {
    position: relative;
    margin-bottom: 15px;

    &:after {
        position: absolute;
        top: 0;
        left: -10px;
        content: '-';
        width: 3px;
        height: 1px;
    }

    &:hover {
        cursor: pointer;
    }
}
.services-faq-block{
    display: none;
}
.services-faq-block-mobile{
    padding-left: 45px;
    width: 315px;
    margin-top: -35px;
}
@media(min-width:350px){
    .services-faq-block-mobile{
        margin-top: -29px;
    }
}
@media(min-width:380px){
    .services-faq-block-mobile{
        margin-top: -22px;
        width: 325px;
    }
}
.services-faq-title{
    position: relative;
    width: 100%;
    font-size: 9px;
    margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &:after{
            content: "";
            position: absolute;
            left: -25px;
            top: -4px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #D4E2E8;
            background-image: url("../img/faq-bg.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 7px;
        }
}
.services-faq-title:hover .type-glass__description--view{
    display: block;
    left: -39px;
    padding: 14px 16px;
    font-size: 9px;
    width: 308px;
    transform: translateY(-113%);

    &:after{
        left: 130px;
    }

}
@media(min-width:350px){
    .services-faq-title:hover .type-glass__description--view {
        font-size: 10px;
        width: 337px;
    }
}
@media(min-width:380px){
    .services-faq-title {
        font-size: 12px;
    }
}
@media(min-width:520px){
    .services-faq-title {
        margin-bottom: 20px;
        
    }
}
@media(min-width:740px){
    .services-faq{
        width: auto;
        left: 80px;        
        display: flex;
    }
    .services-faq-block-mobile{
        display: none;
    }
    .services-faq-block {
        display: block;
        position: relative;
    }
    
    .services-faq-block:hover .type-glass__description {
        display: block;
    }
}


.services-img {
    position: absolute;
    top: -60px;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #D4E2E8;
    border-radius: 100px;
    background-image: url('../img/faq-bg.png');
    background-position: center;
    background-repeat: no-repeat;

    &--glass{
        top: 25px;
        width: 37px;
        height: 37px;
    }
}
@media(min-width:350px){
    .services-img{
        top: -55px;
        &--glass {
            top: 26px;
        }
    }
}
@media(min-width:360px){
    .services-img{
        left: 58%;
        top: -60px;
        &--glass {
            top: 26px;
            left: 48%; 
        }
    }
}
@media(min-width:380px){
    .services-img{
        top: -45px;
        left: 60%;
        &--glass{
            top: 29px;
            left: 50%;
        }
        
    }
}
@media(min-width:520px){
    .services-img{
        top: -39px;
        left: 80%;
        &--glass{
            top: 29px;
            left: 50%;
        }
    }
}
@media(min-width:520px){
    .services-img{
        left: 97%;
        &--glass{
            top: 29px;
            left: 50%;
        }
    }
}
@media(min-width:660px){
    .services-img {
        width: 50px;
        height: 50px;
        top: -44%;
        left: 99%;
        &--glass{
            top: 29px;
            left: 50%;
        }
    }
}
@media(min-width:740px){
    .services-img {
        top: -107%;
        left: 45%;
    }
}
@media(min-width:900px){
    .services-img {
        top: -85%;
    }
}
@media(min-width:1024px){
    .services-img {
        top: -25%;
    }
}
.deadlines,
.price {
    margin-left: 10px;
    font-weight: 500;
    font-size: 5px
}
@media(min-width:520px){
    .deadlines,
    .price {
        padding-left: 25px;
    } 
}
@media(min-width:900px){
    .deadlines,
    .price {
        padding-left: 0px;
    } 
}
.price{
    width: 300px;
}
.price{
    max-width: 435px;
}
@media(min-width:900px){
    .deadlines,
    .price {
        width: auto;
        margin-left: 57px;
        font-weight: 500;
        font-size: 16px
    }
}

.deadlines-options {
    display: flex;
    align-items: center;
}

.slider-big__list {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 9px;

    li {
        max-width: 840px;
    }
    .pice-li {
        margin-bottom: 17px;
    }
}
@media(min-width:350px){
    .slider-big__list{
        font-size: 10px;
    }
}
@media(min-width:450px){
    .slider-big__list{
        width: 415px;
    }
}
@media(min-width:520px){
    .slider-big__list{
        font-size: 13px;
        width: 430px;
    }
}
@media(min-width:900px){
    .slider-big__list {
        font-size: 15px;
        padding-left: 18px;
        margin-bottom: 25px;
        width: 805px;
   
        .pice-li {
            margin-bottom: 0;
        }
    }
   
}

.deadlines-options__total {
    margin-right: 65px;
    padding: 12px 15px;
    background: #97B0BA;
    border: 1px solid #BFD7E0;
    border-radius: 5px;
    font-size: 8px;
}
@media(min-width:400px){
    .deadlines-options__total{
        font-size: 10px;
    }
}
@media(min-width:450px){
    .deadlines-options__total{
        font-size: 13px;
    }
}
.deadlines-options___label {
    cursor: pointer;
    font-size: 6px;

    &:before {
        content: '';
        top: 5px;
        left: 25px;
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/input.png');
        vertical-align: middle;
        margin-left: -10px;
        margin-right: 10px;
    }
}
@media(min-width:400px){
    .deadlines-options___label{
        font-size: 10px;
    }
}
@media(min-width:450px){
    .deadlines-options___label{
        font-size: 13px;
    }
}
.deadlines-options___input[type="checkbox"]:checked+.deadlines-options___label:before {
    background-image: url('../img/input-on.png');
}

.price {
    color: #7EA0AD;
    //margin-top: 25px;
    margin-bottom: 25px;
}
@media(min-width:900px){
    .price{
        margin-top: 25px;
    }
}

// .slider-big__list {
    
// }

.pagination {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
@media(min-width:380px){
    .pagination{
        margin-bottom: 27px;
    }
}
@media(min-width:900px){
    .pagination{
        margin-bottom: 35px;
    }
}
@media(min-width:1024px){
    .pagination{ 
        margin-bottom: 0;
    }
}

.pagination__item {
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid #D4E2E8;
    border-radius: 5px;
    padding: 1px 8px;
    color: #7EA0AD;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in;

    &:hover,
    &:active {
        color: #fff;
        background: #7EA0AD;
        border: 1px solid #F4B955;
        ;
    }

    &:last-child {
        margin-right: 0;
    }
}
@media(min-width:660px){
    .pagination__item{
        padding: 6px 11px;
    }
}
.btn-block {
    display: flex;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-block__item {
    width: 200px;
    background: #FFFFFF;
    padding: 15px 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 2px solid #F4B955;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    color: #668997;
    margin-right: 10px;
    transition: all 0.3s ease-in;
    

    &:last-child {
        margin-right: 0;
    }

    &:hover, &--active {
        background: #F4B955;
        color: #fff;
        border: 2px solid #F4B955;
    }
}
@media(min-width:350px){
    .btn-block__item {
        font-size: 12px;
    } 
}
@media(min-width:360px){
    .btn-block__item {
        font-size: 13px;
    } 
}
@media(min-width:1024px){
    .btn-block__item {
        padding: 15px 30px;
    }
}
.slider-big__slider {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.carousel__item {
    margin-right: 10px;
    width: 170px;
    height: 153px;
    border: 1px solid #98B7C3;
    border-radius: 5px;
    overflow: hidden;
}

.bg-color {
    color: #fff;
    background: #7EA0AD;
    border: 1px solid #F4B955;
}

.color {
    color: #7EA0AD;
}