<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body
        .header            
            .logo
                img(src="img/logo.png", alt="")
            img(src="img/g.png", alt="").header-rhombus.header-rhombus--left 
            p.header__title
                | Душевые ограждения и двери на заказ  
                
                img(src="img/logo-head.png", alt="").header-logo 
            img(src="img/g2.png", alt="").header-rhombus.header-rhombus--right
            .top-nav
                .top-nav__contact                    
                        a(href="tel:+7 (499) 677 20 67").contact__phone +7 (499) 677 20 67                     
                        a(href="#").contact__all Все контакты  
                .top-nav-toogle                
            //- .header-bottom   

        .view
            h2.view__title Виды и примеры душевых ограждений
            .view__slider
                .slider__tab







        script(src="js/main.js")