<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap")
        link(rel="stylesheet", href="fonts/noto-webfont/noto.css")
        link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body
        .header            
            .logo
                img(src="img/logo.png", alt="")
            img(src="img/g.png", alt="").header-rhombus.header-rhombus--left 
            p.header__title
                | Душевые ограждения и двери на заказ  
                
                img(src="img/logo-head.png", alt="").header-logo 
            img(src="img/g2.png", alt="").header-rhombus.header-rhombus--right
            .top-nav
                .top-nav__contact                    
                        a(href="tel:+7 (499) 677 20 67").contact__phone +7 (499) 677 20 67                     
                        a(href="#").contact__all Все контакты  
                .top-nav-toogle 

                    .navigation__toggle
                        i(aria-hidden = true).fa.fa-bars

                    ul.top-nav__list
                        li 
                            a(href="#") Резка и обработка стекла
                        li
                            a(href="#") Многослойное стекло
                        li
                            a(href="#") Душевые ограждения
                        li
                            a(href="#") Перегородки и двери
                        li
                            a(href="#") Зеркала на заказ
                        li
                            a(href="#") Кухонные фартуки
                        li
                            a(href="#") Гнутое стекло




        .view
            .container
                h2.view__title Виды и примеры душевых ограждений            
                ul.view__slider
                    li.view__slider-item.view__slider-item--active
                        a(href="tab1")
                            img(src="img/slider/item-1.png", alt="1")
                    li.view__slider-item
                        a(href="tab2") 
                            img(src="img/slider/item-2.png", alt="2")
                    li.view__slider-item 
                        a(href="tab3")
                            img(src="img/slider/item-3.png", alt="3")
                    li.view__slider-item 
                        a(href="tab4")
                            img(src="img/slider/item-4.png", alt="4")
                    li.view__slider-item 
                        a(href="tab5")
                            img(src="img/slider/item-5.png", alt="5")
                    li.view__slider-item 
                        a(href="tab6")
                            img(src="img/slider/item-6.png", alt="6")
                    li.view__slider-item 
                        a(href="tab7")
                            img(src="img/slider/item-7.png", alt="7")
                    li.view__slider-item 
                        a(href="tab8")
                            img(src="img/slider/item-8.png", alt="8")
                    li.view__slider-item 
                        a(href="tab9")
                            img(src="img/slider/item-9.png", alt="9")
                    li.view__slider-item 
                        a(href="#")
                            | вызвать <br> специалиста
                .viev__slider-big
                    button.calculation-btn Заполнить бриф и получить расчет









                    







        script(src="libs/jquery/jquery-1.11.2.min.js")
        script(src="js/main.js")
        script(src="js/navigation.js")