<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap")
        link(rel="stylesheet", href="fonts/noto-webfont/noto.css")
        link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body
        .header            
            .logo
                img(src="img/logo.png", alt="")
            img(src="img/g.png", alt="").header-rhombus.header-rhombus--left 
            p.header__title
                | Душевые ограждения и двери на заказ  
                
                img(src="img/logo-head.png", alt="").header-logo 
            img(src="img/g2.png", alt="").header-rhombus.header-rhombus--right
            .top-nav
                .top-nav__contact                    
                        a(href="tel:+7 (499) 677 20 67").contact__phone +7 (499) 677 20 67                     
                        a(href="#").contact__all Все контакты  
                .top-nav-toogle 

                    .navigation__toggle
                        i(aria-hidden = true).fa.fa-bars

                    ul.top-nav__list
                        li 
                            a(href="#") Резка и обработка стекла
                        li
                            a(href="#") Многослойное стекло
                        li
                            a(href="#") Душевые ограждения
                        li
                            a(href="#") Перегородки и двери
                        li
                            a(href="#") Зеркала на заказ
                        li
                            a(href="#") Кухонные фартуки
                        li
                            a(href="#") Гнутое стекло




        .view
            .container
                h2.view__title Виды и примеры душевых ограждений            
                ul.view__slider
                    li.view__slider-item.view__slider-item--active
                        a(href="tab1")
                            img(src="img/slider/item-1.png", alt="1")
                    li.view__slider-item
                        a(href="tab2") 
                            img(src="img/slider/item-2.png", alt="2")
                    li.view__slider-item 
                        a(href="tab3")
                            img(src="img/slider/item-3.png", alt="3")
                    li.view__slider-item 
                        a(href="tab4")
                            img(src="img/slider/item-4.png", alt="4")
                    li.view__slider-item 
                        a(href="tab5")
                            img(src="img/slider/item-5.png", alt="5")
                    li.view__slider-item 
                        a(href="tab6")
                            img(src="img/slider/item-6.png", alt="6")
                    li.view__slider-item 
                        a(href="tab7")
                            img(src="img/slider/item-7.png", alt="7")
                    li.view__slider-item 
                        a(href="tab8")
                            img(src="img/slider/item-8.png", alt="8")
                    li.view__slider-item 
                        a(href="tab9")
                            img(src="img/slider/item-9.png", alt="9")
                    li.view__slider-item 
                        a(href="#")
                            | вызвать <br> специалиста
                .viev__slider-big
                    #carousel
                        img(src="img/angular/1.jpg", alt="", width= '310', height= '340')#item-1 
                        img(src="img/angular/2.jpg", alt="", width= '310', height= '340')#item-2
                        img(src="img/angular/3.jpg", alt="", width= '310', height= '340')#item-3
                        img(src="img/angular/4.jpg", alt="", width= '310', height= '340')#item-4
                        img(src="img/angular/5.jpg", alt="", width= '310', height= '340')#item-5
                        img(src="img/angular/6.jpg", alt="", width= '310', height= '340')#item-6
                        img(src="img/angular/7.jpg", alt="", width= '310', height= '340')#item-7
                        img(src="img/angular/8.jpg", alt="", width= '310', height= '340')#item-8
                        img(src="img/angular/9.jpeg", alt="", width= '310', height= '340')#item-9
                        img(src="img/angular/10.jpg", alt="", width= '310', height= '340')#item-10
                        img(src="img/angular/11.jpg", alt="", width= '310', height= '340')#item-11
                        img(src="img/angular/12.jpg", alt="", width= '310', height= '340')#item-12
                        img(src="img/angular/13.jpg", alt="", width= '310', height= '340')#item-13
                        img(src="img/angular/14.jpg", alt="", width= '310', height= '340')#item-14
                        img(src="img/angular/15.jpg", alt="", width= '310', height= '340')#item-15
                        img(src="img/angular/16.jpeg", alt="", width= '310', height= '340')#item-16
                        img(src="img/angular/17.jpg", alt="", width= '310', height= '340')#item-17
                        img(src="img/angular/18.jpeg", alt="", width= '310', height= '340')#item-18
                        img(src="img/angular/19.jpg", alt="", width= '310', height= '340')#item-19
                        img(src="img/angular/21.jpeg", alt="", width= '310', height= '340')#item-21
                        img(src="img/angular/22.jpg", alt="", width= '310', height= '340')#item-22
                        
                    a(href="#")#prev.prev 
                    a(href="#")#next.next

                    button.calculation-btn Заполнить бриф и получить расчет
        .benifit-section
            .container
                .benefit__title Плюсы и преимущества
                .benefit__block
                    .benifit__item
                        .benefit__circle
                            img(src="img/icon/benefit/benefit-icon-1.png", alt="")
                        .benefit__description
                            span Закаленное стекло 8-15мм
                            |Английское сырье Guardian, Pilkington и Японское AGC
                    .benifit__item
                        .benefit__circle
                            img(src="img/icon/benefit/benefit-icon-2.png", alt="")
                        .benefit__description
                            span Срочное изготовление
                            |- от 24-х часов. <br /> Стандартное - 7 дней
                    .benifit__item
                        .benefit__circle
                            img(src="img/icon/benefit/benefit-icon-3.png", alt="")
                        .benefit__description
                            span Специальное покрытие
                            |стекла и фурнитуры, <br /> защищающий от грязи и почернения (грибка)
                    .benifit__item
                        .benefit__circle
                            img(src="img/icon/benefit/benefit-icon-4.png", alt="")
                        .benefit__description
                            span Гарантия на душевые
                            |ограждения и двери - 5 лет. Качественное сервисное обслуживание 
                    .benifit__item
                        .benefit__circle
                            img(src="img/icon/benefit/benefit-icon-5.png", alt="")
                        .benefit__description
                            span Опытный персонал
                            |со знанием дела, аккуратностью и опытом работы 3+ лет. Конструкторы в штате
                    .benifit__item
                        .benefit__circle
                            img(src="img/icon/benefit/benefit-icon-6.png", alt="")
                        .benefit__description
                            span Большой ассортимент
                            |от бюджетного до премиум сегмента стекла и фурнитуры
                .benefit__btn
                    | Заказать душевую
        .type-glass
            .type-glass__title Основные виды стекла
            .type-glass__block
                img(src="img/glass/item-1.png", alt="Прозрачное").glass__item
                img(src="img/glass/item-2.png", alt="Осветвленное").glass__item
                img(src="img/glass/item-3.png", alt="Матовое").glass__item
                img(src="img/glass/item-4.png", alt="Графит").glass__item
                img(src="img/glass/item-5.png", alt="Бронза").glass__item

                    
                    










                    







        script(src="libs/jquery/jquery-1.11.2.min.js")
        script(src="libs/carousel/jquery.waterwheelCarousel.js")
        script(src="js/main.js")
        script(src="js/navigation.js")