body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #7EA0AD;
}
p {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:520px){
    .container {
        width: 1095px;
    }
}
.hidden {
    display: none;
}
